<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FitLook.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ECE842B866573ABEDA0DAC405462C399CB14936F</string>
				<key>dateExpires</key>
				<string>10/07/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECE842B866573ABEDA0DAC405462C399CB14936F</string>
						<key>dateExpires</key>
						<string>10/07/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LJ48CVC23W</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LJ48CVC23W.com.kratikdhote.fitlook</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>LJ48CVC23W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FitLook.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>29430c31-6d3b-4f1a-afa7-f767a112f5e1</string>
				<key>dateExpires</key>
				<string>10/07/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kratikdhote.fitlook</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LJ48CVC23W</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.3</string>
		</dict>
	</array>
</dict>
</plist>
